html, body {
    width: 350px;
    height: auto;
}

body {
    font-family: Georgia, Arial, sans-serif;
    background-color: #F5F5F5;
    text-align: center;
}

a img {
    padding-top: 20px;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    cursor: pointer;
    padding: 8px 16px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #FDE497;
    border-color: #454B53;
}

#currentTime {
    margin-top: 20px;
    margin-bottom: 2px;
    font-size: 30px;
}

#timeRemaining {
    margin-top: 30px;
}

#timerUp {
    font-size: 15px;
    font-style: italic;
    margin-top: 15px;
}

#snoozeButton {
    margin-bottom: 20px;
}

#closeButton {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    border: none;
    font-size: 14px;
}

.initiallyHidden {
    visibility: hidden;
}

